body {
    margin: 0;
    padding: 0;
  
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #292828;
  
    background-color: white;
  }
.page-header {
    padding: 10px;
    background: linear-gradient(to bottom, #2B7FB3,rgb(66, 184, 219) ) ;
}
/* #b0d2ff */
.page-footer {
    padding: 10px;
    background: linear-gradient(to top, #2B7FB3,rgb(66, 184, 219) ) ;
}
.main-nav {
    list-style: none;
  }
  
  .main-nav li {
    text-transform: uppercase;
    display: inline-block;
  }
  
  .main-nav a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .main-nav a:hover {
    text-decoration: underline;
  }
  .header-logo{
    display: inline;
  }
  
  
  .main-nav a:active {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .promo {
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    font-family: "Georgia", sans-serif;
    text-align: center;
  }
  
  .promo a {
    color: #ffffff;
    text-decoration: none;
  }
  .features ul {
    list-style: none;
  }
  
  .feature-item {
    padding-top: 90px;
  
    text-align: center;
    display: inline-block;
    width: 30%;
    border-left: 1px solid #2B7FB3;
  }
  
  .feature-item:first-child {
    border-left: none;
    
  }
  
  .feature-choice {
    background: url("../img/choice.png") top center no-repeat;
  }
  
  .feature-design {
    background: url("../img/design.png") top center no-repeat;
  }
  
  .feature-individual {
    background: url("../img/individual.png") top center no-repeat;
  }
  
  .feature-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    font-family: "Arial", sans-serif;
    color: #222;
  }
  
  .feature-item p {
    font-size: 16px;
  }

  .page-footer {
    margin-top: 20px;
  }
  
  .footer-middle,
  .footer-bottom {
    border-top: 1px solid #5e5e5e;
  }
  
  
  .footer-menu ul {
    list-style: none;
  }
  
  .footer-menu a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-menu a:hover {
    color: #d1e9fd;
  }
  
  .footer-menu a:active {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .footer-social b {
    font-size: 24px;
    font-family: "Georgia", serif;
    color: white;
  }
  
  .social-btn {
    color: #ffffff;
  }
  .social-btn:hover {
    color: #d1e9fd;
  }
  .social-btn:active {
    color:  rgba(255, 255, 255, 0.3);
  }
  
  .footer-copyright {
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .footer-copyright a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-copyright a:hover {
    text-decoration: underline;
  }
  
  .footer-copyright a:active {
    color: rgba(255, 255, 255, 0.3);
  }
  