body {
    margin: 0;
    padding: 0;
  
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #292828;
  
    background-color: white;
}
  .container {
    width: 950px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
  .page-header {
    padding: 10px;
    background: linear-gradient(to bottom, rgb(0,152,231),rgb(70, 190, 255)) ;
    min-width: 950px;
}
/* #b0d2ff */
.page-footer {
    padding: 10px;
    background: linear-gradient(to top, rgb(0,152,231),rgb(70, 190, 255)) ;
    min-width: 950px;
}

.header-logo {
  float: left;
  width: 205px;
  height: 55px;
  margin-left: 15px;
  margin-top: 20px;
}
.main-nav {
  float: right;
  width: 520px;
  margin: 0;
  margin-top: 18px;
  margin-left: 125px;
  padding: 0;
  list-style: none;
  
}

.main-nav li {
  float: right;
  margin-right: 50px;
  text-transform: uppercase;
  display: inline-block;
}
  .main-nav a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
  }
  
  .main-nav a:hover {
    background-color: white;
    border-radius: 2px;
    color:#2B7FB3;
  }
  .header-logo{
    display: inline;
  }
  
  
  .main-nav a:active {
    color: rgba(43, 127, 179, 0.3);
  }
  
  .promo{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
  }
  .promo-left{
    width: 350px;
    float: left;
    padding-left: 10px;
  }
  .promo h3{
    font-size: 28px;
    line-height: 35px;
    font-weight: bold;
    color: white;
    text-align: left;
  }
  .promo-right{
    float: right;
    padding-right: 0;
  }
  .promo-right img{
    width: 450px;
  }
  .promo a {
    color: #ffffff;
    text-decoration: none;
  }
  .features {
    padding-top: 100px;
    padding-bottom: 55px;
}

.features ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.feature-item {
    position: relative;
    float: left;
    width: 250px;
    padding-top: 90px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    border-left: 1px solid #d9d9d9;
}

.feature-item:first-child {
    border-left-color: transparent;
}
  
  .feature-choice {
    background: url("../img/choice.png") top center no-repeat;
  }
  
  .feature-design {
    background: url("../img/design.png") top center no-repeat;
  }
  
  .feature-individual {
    background: url("../img/individual.png") top center no-repeat;
  }
  
  .feature-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    font-family: "Arial", sans-serif;
    color: #222;
  }
  
  .feature-item p {
    font-size: 16px;
  }

  .portfolio{
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
  }
  .portfolio-item{
    width: 850px;
  }
  .portfolio-left{
    width: 300px;
    float: left;
    padding-left: 100px;
    
  }
  .portfolio h3{
    font-size: 28px;
    line-height: 35px;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  .portfolio-right{
    float: right;
   padding:0;
   margin:0;
    margin-top: 20px;
  }
  .portfolio-right img{
    width: 400px;
  }
  .page-footer {
    margin-top: 20px;
  }
  
  .footer-middle,
  .footer-bottom {
    border-top: 1px solid #5e5e5e;
  }
  
  
  .footer-menu ul {
    list-style: none;
  }
  
  .footer-menu a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-menu a:hover {
    color: #d1e9fd;
  }
  
  .footer-menu a:active {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .footer-social b {
    font-size: 24px;
    font-family: "Georgia", serif;
    color: white;
  }
  
  .social-btn {
    color: #ffffff;
  }
  .social-btn:hover {
    color: #d1e9fd;
  }
  .social-btn:active {
    color:  rgba(255, 255, 255, 0.3);
  }
  
  .footer-copyright {
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .footer-copyright a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-copyright a:hover {
    text-decoration: underline;
  }
  
  .footer-copyright a:active {
    color: rgba(255, 255, 255, 0.3);
  }
  